.show .dropdown-menu .dropdown-header {
    color: #894bdf !important;
    font-weight: bolder;
    background: #ECF0F1;
}

.dropdown-menu {
    background-color: #ECF0F1;
    border: 1px solid #894bdf;
}

#current_datetime {
    margin-left: 5px;
}

.o_main_navbar>.o_menu_brand {
    font-weight: bolder !important;
}

#current_build {
    margin-left: 8px;
}

.build_number_hide {
    display: none;
}

.build_number_show {
    display: block;
}


.breadcrumb > .active {
    color: #894bdf;
}

.o_main_navbar {
    background-color: #894bdf;
    border-bottom: 3px solid #FFC300;
    height: 47px;
}

.o_main_navbar>ul>li>a:hover,
.o_main_navbar>ul>li>label:hover {
    color: #894bdf;
    background-color: #ECF0F1;
    border-bottom: 1px solid #894bdf;
}

.o_main_navbar>ul>li>a:active,
.o_main_navbar>ul>li>label:active {
    color: #894bdf;
    background-color: #ECF0F1;
    border-bottom: 1px solid #894bdf;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: #ECF0F1;
    color: #894bdf;
}

.o_main_navbar>ul>li.o_extra_menu_items.show>ul>li>a {
    color: #894bdf;
    background-color: #ECF0F1;
}

.o_form_view .o_horizontal_separator {
    color: #894bdf;
}

.o_form_view .o_form_sheet_bg {
    border-bottom: 1px solid #894bdf;
    background: url(/npa_base/static/src/img/form_bg.jpg)
}

.o_form_view .o_form_sheet_bg>.o_form_sheet {
    min-width: 60%;
    max-width: 98%;
    margin: 20px auto;
}

.o_required_modifier.o_input,
.o_required_modifier .o_input {
    background-color: #fff !important;
    border: 1px solid red;
}

.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {
    color: #F99A73;
    background-color: #894bdf;
}

a {
    color: #894bdf;
}

.btn-primary {
    color: #fff;
    background-color: #894bdf;
    border-color: #894bdf;
}

.btn-primary:hover {
    color: #894bdf;
    background-color: #ECF0F1;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ffffff;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #ffffff;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: #894bdf;
}

.o_form_view .o_form_uri {
    color: #894bdf;
}

.o_menu_systray {
    display: flex !important;
}

.o_menu_apps {    
    padding: 2px !important;
    background-image: url(/npa_base/static/description/SCName2.png);
    background-position: left top;
    background-repeat: no-repeat, repeat;
    width: 250px;
    height: 48px;  
}

.o_menu_apps .dropdown {
    float : right;
    margin-left: 280px;
}

.o_main_navbar .o_user_menu .oe_topbar_avatar {
    height: 47px !important;
}

.o_main_navbar .nametop {
    margin-left: 0px !important;
    padding: 13px 2px;
}

.dropdown-logout {
    padding: 0px 8px !important;
    font-size: 30px !important;
    color: #fff;
}

.o_main_navbar .o_user_menu>a {
    padding-right: 0px !important;
    color: #fff;
}

/*  tab css modified */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top-width: 1px;
    border-top-style: solid;          
    border-top-color: #894bdf;
    border-right-color: #894bdf;
    border-left-color: #894bdf;
}

.nav-tabs .nav-link {
    border-radius: 8px 8px 0 0;
    background-color: #c29fee;
    margin-right:5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #894bdf; 
}

.nav-tabs {        
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #894bdf;
        margin-right:7px;                            
}
.tab-content {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #894bdf;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #894bdf;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #894bdf;
    border-radius: 0 8px 8px 8px; 
    padding: 10px;    
}

/*  tree list css modified */
.o_list_view thead > tr > th {
    border-left: 1px solid #AD7CF1;
    background-color: #AD7CF1;
    color: white;
}

.o_form_view .o_field_widget .o_list_view > tfoot > tr > td {
    padding: 3px;
    background-color: #D7BEF9;
    color: #4c4c4c;
}

.btn-secondary {
    color: #894bdf;
    background-color: #B0BDFC;
    border-color: #788EF9;
}

.btn-secondary:hover {
    color: #894bdf;
    background-color: #ECF0F1;
    border-color: #788EF9;
}

.btn-group > .btn:first-child {
    margin-left: 3px;
}




